<a href="https://colab.research.google.com/github/ardzz/bigdata-solusi247/blob/master/SQL%20untuk%20Analisis%20Data/03_Analyzing_Fortune500_Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! whoami

In [ ]:
! hostname

In [ ]:
! date

# Tugas: Menganalisa Perusahaan Fortune 500

Fortune 500 adalah sebuah daftar 500 perusahaan yang diterbitkan setiap tahun oleh majalah bisnis **Fortune**. Daftar ini berisi 500 perusahaan publik terbesar di Amerika Serikat berdasarkan pendapatan kotor mereka dalam tahun fiskal sebelumnya. Dalam daftar ini, perusahaan-perusahaan tersebut diurutkan berdasarkan pendapatan tahunan mereka, dan merupakan indikator utama dalam mengukur keberhasilan dan ukuran perusahaan di pasar Amerika Serikat.

Daftar Fortune 500 sering digunakan sebagai referensi oleh para pelaku bisnis, investor, dan pengamat ekonomi untuk mengetahui tren dalam dunia korporasi, serta untuk memperoleh wawasan tentang kekuatan dan stabilitas perusahaan-perusahaan terkemuka di Amerika Serikat.

## Persiapan

### Instalasi PostgreSQL

In [ ]:
! sudo apt-get -y -qq update

In [ ]:
! sudo apt-get -y -qq install postgresql

In [ ]:
! sudo service postgresql start

### Create User and Database

In [ ]:
! sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [ ]:
! sudo -u postgres psql -U postgres -c "DROP DATABASE IF EXISTS training;"

In [ ]:
! sudo -u postgres psql -U postgres -c 'CREATE DATABASE training;'

## Setup Connection

In [ ]:
%load_ext sql
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/training
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Create Table

In [ ]:
%%sql
DROP TABLE IF EXISTS fortune500

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS fortune500 (
  rank INTEGER,
  title VARCHAR(100),
  name VARCHAR(100),
  ticker VARCHAR(100),
  url VARCHAR(255),
  hq VARCHAR(100),
  sector VARCHAR(50),
  industry VARCHAR(50),
  employees INTEGER,
  revenues INTEGER,
  revenues_change REAL,
  profits NUMERIC,
  profits_change REAL,
  assets NUMERIC,
  equity NUMERIC

);

### Load Dataset

Dataset yang digunakan adalah dataset perusahaan yang termasuk dalam Fortune 500 pada tahun 2017

In [ ]:
! wget https://www.dropbox.com/s/l3rgaxvdmg0m3ld/fortune500.csv

In [ ]:
%%sql
COPY fortune500
FROM '/content/fortune500.csv' DELIMITER ',' NULL 'NA' CSV HEADER;

In [ ]:
%%sql
select * from fortune500
limit 5;

## Jawab Dan Lengkapi Perintah SQL

### Berapa jumlah record pada tabel fortune500

In [ ]:
%%sql

-- Tampilkan jumlah record sebagai num_record
SELECT
FROM fortune500

### Sector apasaja yang ada dalam Fortune500

In [ ]:
%%sql

-- Tampilkan sector dengan menggunakan fungsi disticnt
SELECT
FROM fortune500

-- Urutkan berdasarkan abjadnya
ORDER BY

### Tampilkan semua perusahaan yang berada di sektor teknologi

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name dan ticker
SELECT
FROM fortune500

-- Filter sector adalah Technology
WHERE

Subtract the count of the non-NULL ticker values from the total number of rows; alias the difference as missing

### Tampilkan semua perusahaan yang memiliki panjang ticker hanya 2 karakter, seperti FB, GM, GE dan lain sebagainya

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name, ticker dan sector
SELECT
FROM fortune500

-- Filter panjang kolom ticker sector adalah 2
WHERE

Ada berapa perusahaan yang memiliki panjang ticker 2?

In [ ]:
%%sql

-- Tampilkan jumlah perusahaan sebagai num_record
SELECT
FROM fortune500

-- Filter panjang kolom ticker sector adalah 2
WHERE

### Berapa revenue Apple, Amazon, Facebook, dan Google?

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name, revenues
SELECT
FROM fortune500

-- Filter kolom ticker yang berisi 'AAPL', 'AMZN', 'FB', 'GOOGL'
WHERE

### Tampilkan 10 perusahaan yang memiliki revenue terkecil

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name, revenues
SELECT
FROM fortune500

-- Urutkan berdasarkan revenue terkecil
ORDER BY

-- Batasi hanya 10 record
LIMIT

### Tampilkan perusahaan yang memiliki revenue diatas 150000

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name, revenues
SELECT
FROM fortune500

-- Filter revenue diatas 150000
WHERE

-- Urutkan berdasarkan revenue terbesar
ORDER BY

### Berapa jumlah perusahaan yang memiliki revenue diantara 100000 dan 200000

In [ ]:
%%sql

-- Tampilkan jumlah perusahaan sebagai num_record
SELECT
FROM fortune500

-- Filter revenues diantara 100000 dan 200000
WHERE

### Tampilkan 10 perusahaan yang mengalami kerugian terbesar

In [ ]:
%%sql

-- Tampilkan kolom rank, title, name, revenues, profits_change
SELECT
FROM fortune500

-- Urutkan berdasarkan profits_change

-- Batasi 10 record

### Berapa perusahaan yang mengalami kerugian?

In [ ]:
%%sql

-- Tampilkan jumlah perusahaan sebagai num_record
SELECT
FROM fortune500

-- Filter profits_change lebih kecil dari 0

### Menghitung jumlah missing value

Tampilkan maksimal 10 perusahaan yang tidak memiliki ticker

In [ ]:
%%sql

-- Tampilkan jumlah perusahaan sebagai num_record
SELECT
FROM fortune500

-- Filter ticker adalah null

-- Batasi 10 record

Berapa jumlah perusahaan yang tidak memiliki ticker?

In [ ]:
%%sql

-- Tampilkan missing sebagai hasil pengurangan count(*) dan count(DISTINCT ticker)
SELECT
FROM fortune500

Berapa jumlah perusahaan yang tidak memiliki nilai profits_change

In [ ]:
%%sql

-- your code is here

Berapa jumlah perusahaan yang tidak memiliki nilai industry

In [ ]:
%%sql

-- your code is here

### Hitung nilai minimum, maksimum dan rata-rata dari jumlah pegawai, jumlah assets, revenues, dan keuntungan

In [ ]:
%%sql

-- Hitung min_employees, max_employees, avg_employees dengan menggunakan fungsi min, max dan avg
SELECT
-- Hitung min_assets, max_assets, avg_assets dengan menggunakan fungsi min, max dan avg

-- Hitung min_revenues, max_revenues, avg_revenues dengan menggunakan fungsi min, max dan avg

-- Hitung min_profits, max_profits, avg_profits dengan menggunakan fungsi min, max dan avg


FROM fortune500

### Kelompokkan data berdasarkan nilai sektor

In [ ]:
%%sql

-- Tampilkan kolom sector, dan jumlah record
SELECT
FROM fortune500

-- Kelomppokkan berdasarkan sector

-- Urutkan berdasarkan jumlah record

### Kelompokkan data berdasarkan nilai industri

In [ ]:
%%sql

-- your code is here

### Hitung jumlah kelompok perusahaan small, medium and big

Pengelompokkan tersebut berdasarkan perhitungan jumlah karyawan, dengan aturan sebagai berikut
- SMALL --> jumlah karyawan lebih kecil atau sama dengan 200
- MEDIUM --> jumlah karyawan lebih besar dari 200 dan lebih kecil atau sama dengan 1000
- BIG --> jumlah karyawan lebih besar dari 1000


***Hinst***
- gunakan case when
- gunakan nested query (query di dalam query) untuk mengelompokkan

In [ ]:
%%sql

SELECT t.company_type, count(*) num_company
FROM
(
  SELECT
        title,
        CASE

        END company_type
  FROM fortune500
) t
-- Kelompokkan dan urutkan berdasarkan company_type
GROUP BY
ORDER BY

### Hitung rata-rata revenue per employee yang dikelompokkan berdasarkan sector

***Hints***

Rata-rata revenue per employee --> avg(revenues/employees::numeric)

In [ ]:
%%sql

-- your code is here